{
    "source": {
        "directories": [
            "src\/BlackFlag",
            "src\/Rpg",
            "src\/EventSourcing"
        ]
    },
    "logs": {
        "badge": {
            "branch": "main"
        }
    },
    "mutators": {
        "@default": true
    }
}