{
    "source": {
        "directories": [
            "src\/BlackFlag",
            "src\/Rpg",
            "src\/EventSourcing"
        ]
    },
    "logs": {
        "text": "reports\/test\/infection.log"
    },
    "mutators": {
        "@default": true
    }
}