<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="tests/bootstrap.php">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <file>src/App/Kernel.php</file>
    </exclude>
    <report>
      <clover outputFile="reports/test/coverage/clover.xml"/>
      <html outputDirectory="reports/test/coverage/html" lowUpperBound="50" highLowerBound="90"/>
    </report>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <server name="APP_ENV" value="test" force="true"/>
    <server name="SHELL_VERBOSITY" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="BlackFlag Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="reports/test/junit.xml"/>
    <testdoxHtml outputFile="reports/test/testdox.html"/>
  </logging>
</phpunit>
